// default
$color_default_button_background: $primary_color_button;
$color_default_button: $color_white;

// link
$color_link_button_background: red;
$color_link_button: black;

// primary
$color_primary_button_background: $primary_color_button;
$color_primary_button: $color_white;

// secondary
$color_secondary_button_background: $color_tango;
$color_secondary_button: $color_white;

.ant-btn:hover {
  opacity: 0.8;
}

.button {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 5px;
  border: none;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.5;
  }

  &--default {
    background: $color_default_button_background;
    color: $color_default_button;

    &:focus,
    &:active,
    &:hover {
      color: $color_default_button;
      background: $color_default_button_background;
    }

    &:disabled {
      color: $color_default_button;
      background: $color_default_button_background;
    }
  }

  &--link {
    background-color: $color_link_button_background;
    color: $color_link_button;

    &:focus,
    &:active,
    &:hover {
      color: $color_link_button;
      background-color: $color_link_button_background;
    }

    &:disabled {
      border: none;
      color: $color_link_button;
    }
  }

  &--primary {
    background-color: $color_primary_button_background;
    color: $color_primary_button;

    &:focus,
    &:active,
    &:hover {
      background-color: $color_primary_button_background;
      color: $color_primary_button;
    }

    &:disabled {
      background-color: $color_primary_button_background;
      color: $color_primary_button;
    }
  }

  &--secondary {
    background-color: $color_secondary_button_background;
    color: $color_secondary_button;

    &:focus,
    &:active,
    &:hover {
      color: $color_secondary_button;
      background-color: $color_secondary_button_background;
    }

    &:disabled {
      border: none;
    }
  }
}
