.ant-picker {
  background: $color_black_pearl;
  border: none;
  border-radius: 50px;
}

.ant-picker-dropdown {
  background-color: $color_black;
}

.ant-picker-focused {
  box-shadow: unset;
}

.ant-picker-clear {
  background: transparent;
  color: $color_white;

  &:hover {
    opacity: 1;
    color: $color_white;
  }
}

.ant-picker-panel-container {
  border-radius: 8px;
  background: $color_black_pearl;

  .ant-picker-header {
    border-bottom: unset;

    button {
      color: $color_white;
      opacity: 0.5;
    }
  }

  .ant-picker-body {
    th,
    td {
      color: $color_white;
      opacity: 0.5;
    }

    td:hover {
      .ant-picker-cell-inner {
        color: $color_white;
        opacity: 1;
        background-color: unset !important;
      }
    }
  }

  .ant-picker-panel {
    border: unset !important;
  }

  .ant-picker-cell-disabled {
    opacity: 0.2 !important;
  }

  .ant-picker-cell-selected .ant-picker-cell-inner {
    color: $color_white !important;
    opacity: 1;
  }
}

.ant-picker-input {
  input {
    color: $color_white !important;
    opacity: 1;
  }
}
