.nft {
  cursor: pointer;

  &__header {
    background: $color_big_stone;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 8px;

    @media only screen and (max-width: $breakpoint_tablet_max) {
      padding: 0px 4px;
      height: 36px;
    }

    .info {
      display: inline-flex;
      align-items: center;

      &__id {
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: $color_white;
        padding-right: 6px;

        @media only screen and (max-width: $breakpoint_tablet_max) {
          font-size: 14px;
          line-height: 16px;
          padding-right: 4px;
        }
      }

      &__dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $color_amber;
        margin-right: 6px;
      }

      &__class {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $color_titan_white;

        @media only screen and (max-width: $breakpoint_tablet_max) {
          font-size: 12px;
        }
      }
    }

    .skill {
      img {
        width: 32px;
        height: 32px;
        object-fit: contain;

        @media only screen and (max-width: $breakpoint_tablet_max) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__content {
    background: $color_big_stone;
    padding: 12px;
    border-radius: 5px;
    height: 412px;

    @media only screen and (max-width: $breakpoint_tablet_max) {
      height: 268px;
      padding: 6px;
    }

    .info {
      position: relative;
      cursor: pointer;

      .ant-image {
        width: 100%;
        overflow: hidden;
      }

      &__image {
        width: 100%;
        height: 247px;
        object-fit: cover;
        border-radius: 5px;

        @media only screen and (max-width: $breakpoint_tablet_max) {
          height: 152px;
        }

        &:hover {
          transform: scale(1.25);
          transition: 1.5s;
        }
      }

      &__footer {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        bottom: 12px;
        padding: 0 12px;

        .text {
          background: $color_big_stone_0_7;
          border-radius: 5px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: $color_white;
          padding: 4px 8px;

          @media only screen and (max-width: $breakpoint_tablet_max) {
            padding: 2px 5px;
          }
        }

        img {
          margin-left: 10px;
        }
      }
    }

    .footer {
      &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $color_white;
        padding-top: 18px;

        @media only screen and (max-width: $breakpoint_tablet_max) {
          padding-top: 4px;
          font-size: 13px;
          line-height: 16px;
        }
      }

      &__sub-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $color_titan_white;
        padding-top: 6px;

        @media only screen and (max-width: $breakpoint_tablet_max) {
          padding-top: 4px;
          font-size: 12px;
          line-height: 18px;
        }
      }

      &__inactive {
        margin-top: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        padding: 8px 10px;
        text-transform: capitalize;
        text-align: center;
        background: $color_black_pearl_linear;
        border: 1px solid $color_regal_blue;
        color: $color_mariner;
        width: fit-content;

        @media only screen and (max-width: $breakpoint_tablet_max) {
          margin-top: 4px;
        }
      }

      &__active {
        padding-top: 9px;

        @media only screen and (max-width: $breakpoint_tablet_max) {
          padding-top: 4px;
        }

        .currency {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $color_tango;
          gap: 7px;

          &__price {
            word-break: break-word;
          }

          @media only screen and (max-width: $breakpoint_tablet_max) {
            font-size: 16px;
            line-height: 19px;
          }

          &__symbol {
            opacity: 0.5;
          }
        }

        .price {
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          color: $color_athens_gray;
          padding-top: 4px;

          @media only screen and (max-width: $breakpoint_tablet_max) {
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
    }
  }
}
