.notification {
  background-color: $color_firefly_linear !important;
  border-radius: 5px;

  .app-dropdown {
    padding: 20px;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: $color_titan_white;
  }
}

.notification-card {
  border-radius: 5px;
  width: 100%;
  max-width: 394px;
  height: auto;

  @media screen and (max-width: $breakpoint_tablet_max) {
    max-width: 375px;
  }

  .group {
    gap: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;

    &:last-child {
      border-bottom: unset;
    }

    .content {
      width: 95%;

      @media screen and (max-width: $breakpoint_tablet_max) {
        width: 90%;
      }

      .name {
        font-weight: 600;
        color: $color_tango;
      }

      .price {
        font-weight: 600;
        color: $color_tango;
      }

      .currency {
        font-weight: 600;
        color: $color_tango;
      }

      .wallet {
        font-weight: 600;
        color: $color_tango;
      }

      .text {
        width: 100%;
        padding-top: 14px;
        @include textEllipsis(1);
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.005em;
        color: $color_titan_white;
      }

      .sub-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $color_rock_blue;
        padding-top: 2px;
        padding-bottom: 12px;

        span:nth-child(2) {
          margin-left: 4px;
        }
      }
    }

    .effect {
      .dot {
        background: $color_titan_white;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }

  .notification-empty-text {
    padding: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: $color_titan_white;
    padding-bottom: 4px;
    text-align: center;
  }

  .infinite-scroll-component {
    overflow: auto;
    overflow-x: hidden !important;
    max-height: 350px;
    padding-right: 20px;
    @include scrollbars();
    padding: 0 10px;

    @media screen and (max-width: $breakpoint_tablet_max) {
      padding: 0px;
    }
  }
}
