.nft-detail-attributes {
  background: $color_firefly_linear;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: $color_titan_white;
  padding: 21px 11px 21px 38px;
  border-radius: 5px;
  margin-bottom: 46px;

  &__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.015em;
    color: $color_tango;
    padding-bottom: 24px;
  }

  .ant-col {
    display: flex;
    flex-direction: column;

    .info-label {
      padding: 6px 0px;
    }
    .info-text {
      font-weight: 400;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 0px;
    }
  }
}
